<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Teachers.Mapper.AuthMapper" >
    <resultMap id="UserMap" type="com.example.Teachers.Model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="saveUser" parameterType="com.example.Teachers.Model.User">
        INSERT INTO users (id, username, password)
        VALUES (#{id}, #{username}, #{password})

    </insert>
    <select id="findUserByUserName" resultMap="UserMap">
        Select * from users where username=#{username};
    </select>
</mapper>